<launch>
	<group ns="/">
		
		<node pkg="racecar" name="CornerDetector" type="cornerdetector.py" />
		
		<node pkg="racecar" name="WallDetector" type="walldetector.py" />
		
		<node pkg="racecar" name="GoToPoint" type="go_to_point.py" output="screen" />
		
		<node pkg="racecar" name="servo_commands" type="servo_commands.py" />
		<node pkg="racecar" name="PointEstimator" type="point_estimator.py"/>

		

	</group>
</launch>
