<launch>
	<group ns="/">
		<node pkg="image_processing" name="center_cone_locator_node" type="center_cone_locator.py"/>
		<node pkg="image_processing" name="cone_detector" type="cone_detector.py" output="screen"/>
		<node pkg="state_estimator" name="cone_position_estimator" type="cone_position_estimator.py"/>
		<!-- <node pkg="image_processing" name= "scan_cone_detector" type="scan_cone_detector.py"/> -->
	</group>
	<group ns="left">
		<node pkg="image_processing" name="image_filter_node" type="image_filter_node"/>
		<node pkg="image_processing" name="cone_locator_node" type="cone_locator_node">
			<remap from="/bw_image" to="/left/bw_image" />
		</node>
	</group>
	<group ns="right">
		<node pkg="image_processing" name="image_filter_node" type="image_filter_node">
			<remap from="/camera/zed/rgb/image_rect_color" to="/camera/zed/right/image_rect" />
		</node>
		<node pkg="image_processing" name="cone_locator_node" type="cone_locator_node">
			<remap from="/bw_image" to="/right/bw_image" />
		</node>
	</group>
	
</launch>
