<launch>

  <arg name="no_static_map" default="false"/>

  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_diff.launch" /> -->


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- Planner Selection-->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    
    <!-- Planner Configuration -->
    <param name="controller_frequency" value="20.0" />
    <rosparam param="recovery_behaviors"> [ { name: "conservative_reset", type: "clear_costmap_recovery/ClearCostmapRecovery" },{ name: "backup_recovery", type: "backup_recovery_dwa/BackupRecovery" },{name: "aggressive_reset", type: "clear_costmap_recovery/ClearCostmapRecovery" } ] </rosparam>
    <param name="clearing_rotation_allowed" value="false" />
    <param name="conservative_reset_dist  " value="4" />
    <param name="planner_frequency " value="0.25" />

    <!-- Config Files -->
    <rosparam file="$(find racecar_nav)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find racecar_nav)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find racecar_nav)/cfg/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find racecar_nav)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find racecar_nav)/cfg/base_local_planner_params.yaml" command="load" />

    <!-- <remap from="move_base/goal" to="/move_base_simple/goal"/>  -->

  </node>

  <node pkg="teb_local_planner" type="cmd_vel_to_ackermann_drive.py" name="twist_to_ackermann" output="screen">
    <param name="ackermann_cmd_topic" value="/vesc/ackermann_cmd_mux/input/nav"/>
    <param name="wheelbase" value="0.25"/>
    <param name="min_vel" value="0.25"/>
    <param name="max_theta" value="0.36"/>
  </node>

</launch>