<launch>

  <arg name="no_static_map" default="false"/>

  <!--- Run AMCL -->
  <!--<include file="$(find amcl)/examples/amcl_diff.launch" /> -->


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- Node Selection -->
    <param name="base_global_planner" value="global_planner/planner"/>
    <!-- <param name="base_global_planner" value="navfn/NavfnROS"/> -->
    <!--<param name="base_local_planner" value="$(arg base_local_planner)"/>   -->

    <!-- Config Files -->
    <rosparam file="$(find racecar_nav)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find racecar_nav)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find racecar_nav)/cfg/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find racecar_nav)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find racecar_nav)/cfg/base_local_planner_params.yaml" command="load" />



  </node>

</launch>